.navBar {
  height: 14vh;
  background-color: #ffe047;
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 1rem 3rem;
}
.logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.menuBox {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
  align-self: stretch;
  align-items: center;
}
